body{
    background-color: #ebf2ff;
    font-family: "popins",sans-serif;

}
.card-title{
    font-weight:bold;
    color:#dc3545;
}
.card-text{
    font-size: 20px;
    font-family:cursive;
    color: #2f1e4e;
}